name: Deploy Sigma Rules to SIEM

on:
  push:
    branches: [ "main", "dev" ]
    paths:
      - 'rules/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Tools
        run: |
          pip install requests sigma-cli pyyaml
          sigma plugin install elasticsearch

      - name: Set Environment for Branch
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "KIBANA_SPACE=default" >> $GITHUB_ENV
          else
            echo "KIBANA_SPACE=detection-dev" >> $GITHUB_ENV
          fi

      - name: Run Deploy Script
        env:
          ELASTIC_URL: ${{ secrets.ELASTIC_URL }}
          ELASTIC_USERNAME: ${{ secrets.ELASTIC_USERNAME }}
          ELASTIC_PASSWORD: ${{ secrets.ELASTIC_PASSWORD }}
          KIBANA_SPACE: ${{ env.KIBANA_SPACE }}
        run: python scripts/deploy_to_kibana.py